body {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h3 {
    margin-top: 2rem;
}

.row {
    margin-bottom: 1rem;
}
.row .row {
    margin-top: 1rem;
    margin-bottom: 0;
}
[class*="col-"] {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.then{
    font-size:0.9rem;
    margin-bottom:0px !important;
}
.textarea{
    width:98%;
    margin-left:1%;
    margin-top:20px;
    height:120px;
    font-size:0.9rem;
    text-indent:1rem;
}
.release{
    width:80px;
    float:right;
    margin-right:1%;
    font-size:0.8rem;
}
.pinglun{
    margin-bottom:10px;
}
.pinglun a{
    font-size:0.8rem;
}